{% extends 'feedback/home.html' %}
{% load humanize %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load feedbacktags %}


{% block feedback_page_header %}
    <nav>
      <ul class="pager">
        <li class="previous"><a href="{% url 'feedback_list' %}"><span aria-hidden="true">&larr;</span> Back to Issues List</a></li>
        <!--<li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>-->
      </ul>
    </nav>
{% endblock %}

{% block feedback_content %}

    <blockquote class="issue" style="font-size: 14px;">
        <h4>{{ feedback.summary }}</h4>
        <p>{{ feedback.description }}</p>
        {% if feedback.reference %}
            <div class="alert alert-info" role="alert" style="font-size: 75%;"><strong>Reference </strong> <a href="{{ feedback.reference }}" target="_blank"> {{ feedback.reference }}</a></div>
        {% endif %}
        {% if feedback.attachments.all %}
            <p> Attachment: <a href="{{ MEDIA_URL }}{{ feedback.attachments.all.0.attachment }}"> {{ feedback.attachments.all.0.attachment|filename }}</a></p>
        {% endif %}
        <p class="pull-left">
            <small>Reported by {{ feedback.created_by }} on {{ feedback.created }}</small>
            <div class="pull-right">
                <span class="label label-warning" data-toggle="tooltip" data-placement="top" title="Vote up">
                    <a href="{% url 'vote' %}?feedback_id={{ feedback.id }}&voted=true" id="vote_up_link" style="color: white;"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;</a>
                    <span id="votes_up_count">{{ feedback.votes_up }}</span>
                </span>
                &nbsp;
                <span class="label label-warning" data-toggle="tooltip" data-placement="top" title="Vote down">
                    <a href="{% url 'vote' %}?feedback_id={{ feedback.id }}&voted=false" id="vote_dn_link" style="color: white;"><span class="glyphicon glyphicon-thumbs-down"></span>&nbsp;</a>
                    <span id="votes_dn_count">{{ feedback.votes_dn }}</span>
                </span>
            </div>
        </p>
        <div class="clearfix"></div>
    </blockquote>

    {% crispy form %}

    <div class="page-header" align="center">
        <h4><small><p> -- Comments listed below -- </p></small></h4>
    </div>

    <div id="commenters">
        {% for comment in comment_tree %}
            <blockquote id="{{comment.id}}" class="comment" style="font-size: 14px; margin-left:{{comment.depth|add:comment.depth}}em;">
                <p>{{comment.content}}</p>
                <p class="poster"><small>{{ comment.created_by }} - {{comment.created|naturaltime}} <a href="" class="reply">reply</a></small> </p>
            </blockquote>
        {% empty %}
            <div class="alert alert-info" role="alert">There are currently no comments.</div>
        {% endfor %}
    </div>
{% endblock feedback_content %}


{% block feedback_extra_js %}
<script type = "text/javascript">
    "use strict";

    // Any time someone clicks on the vote up link, vote it up.
    $('blockquote').on('click', '#vote_up_link', function(e) {
        e.preventDefault();
        $.post($(this).attr('href'))
            .done(function(data, textStatus, jqXHR) {
                $("#votes_dn_count").text(data['votes_dn_count']);
                $("#votes_up_count").text(data['votes_up_count']);
            });
        
    });

    // Any time someone clicks on the vote down link, vote it down.
    $('blockquote').on('click', '#vote_dn_link', function(e) {
        e.preventDefault();
        $.post($(this).attr('href'))
            .done(function(data, textStatus, jqXHR) {
                $("#votes_dn_count").text(data['votes_dn_count']);
                $("#votes_up_count").text(data['votes_up_count']);
            });
    });

    $(document).ready(function(){
        // clone the comment form and put it right below the "reply" that is clicked.
        $("#commenters").on("click", ".reply", function(event){
            event.preventDefault();
            var form = $("#id_comment_form").clone(true);

            // set the parent text box value
            form.find('.parent').val($(this).parent().parent().parent().attr('id'));
            $(this).parent().append(form);
            form.find("#id_content").focus();
        });
    });
</script>
{% endblock feedback_extra_js %}