{% extends 'feedback/home.html' %}
{% load staticfiles %}

{% block feedback_page_header %}
    <div class="page-header" align="center" style="margin-top: 5px;">
        <h4>Recent Reported Issues
            <small><p>
            Before creating a new issue, search through the issues that are already reported issues
            </p></small>
        </h4>
    </div>
{% endblock %}
{% block feedback_content %}
    {% for f in feedback %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    {{ f.summary }}
                </h4>
                <small>Reported on {{ f.created }} by {{ f.created_by }}</small>
            </div>
            <div class="panel-body">
                {{ f.description|truncatechars_html:250 }}
            </div>
            <div class="panel-footer"><small><strong><span class="glyphicon glyphicon-tags"></span> Tags:</strong>
                {% for t in f.tags.all %}
                    <a href="{% url 'feedback_filter' %}?tag={{t.id}}"><span class="label label-default"> {{ t.tag }}</span></a>
                {% endfor %}
                <a class="pull-right" href="{{ f.get_absolute_url }}">More...</a></small>
            </div>
        </div>
    {% empty %}
        <h3>No issues reported yet.</h3>
        <a href="{% url 'feedback_add' %}" id="id_add_feedback_link"class="btn btn-default">Report Issue</a>
    {% endfor %}

{% endblock feedback_content %}

{% block feedback_extra_js %}
    <!-- any js that is is specific to this page goes here.. -->

{% endblock feedback_extra_js %}


